@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: #34977d;

}
.bg-white {
    --tw-bg-opacity: 1;
    border-radius: 16px;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.rounded {
    border-radius: 2.25rem;
}
.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 239 239);
}
.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
 border-radius: 25px;

}
.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}
.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: #364B44;
    border-radius: 34px;
}
.full-row {
    position: relative;
    width: 100%;
    padding: 80px 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}
.text-dark {
    color: black !important;
}
.my-0, .m-0, .mb-0 {
    margin-bottom: 0px !important;
}
.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
p {
    line-height: 28px;
}
@media (min-width: 768px){
.justify-content-md-end {
    justify-content: flex-end !important;
}
}
@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}
.d-flex {
    display: flex !important;
}
.flex-column {
    flex-direction: column !important;
}
.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-style-tick li {
    position: relative;
    margin-bottom: 10px;
}

li {
    line-height: 25px;
}